@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  --header-font: 'Press Start 2P', sans-serif;
  --main-font: 'Patrick Hand', sans-serif;
  --header-color: #a5f3fc;
  --content-color: #f8fafc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--content-color);
  height: 100vh;
}

.header {
  background-color: var(--header-color);
  font-family: var(--main-font);
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  padding: 25px 0px;
  box-shadow: 0px 2px 2px 2px lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  gap: 1rem;
  padding: 20px;
  flex: 1;
}

.score-board {
  display: flex;
  gap: 7rem;
  text-align: center;
}

.pieces {
  display: flex;
  gap: 4rem;
}

.pieces img {
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.main-message {
  font-size: 2.5rem;
}

.score-board img {
  height: 8rem;
}

.pieces img {
  height: 10rem;
}

.pieces,
.score-board,
.score-count {
  margin-top: 30px;
}

.piece {
  padding: 2rem;
}

.piece:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.piece:active {
  transform: scale(1);
}
